<!-- individual-registration.component.html -->

<div class="container mt-5">
    <div class="card">
      <div class="card-header">
        <h2 class="card-title">postuler comme fourmateur</h2>
      </div>
      <div class="card-body">
        <form [formGroup]="formFormateurExterne" (submit)="addfourmateurExterne()">
        
          <!-- Name Fields -->
          <div class="mb-3">
            <label for="nom" class="form-label">Nom</label>
            <input formControlName="nom" type="text" class="form-control" id="nom" name="nom" required>
          </div>
  
          <!-- Surname Fields -->
          <div class="mb-3">
            <label for="prenom" class="form-label">Prenom</label>
            <input formControlName="prenom" type="text" class="form-control" id="prenom" name="prenom"  required>
          </div>
  
          <!-- Date of Birth Field -->
          <div class="mb-3">
            <label for="dateNaissance" class="form-label">Date de Naissance</label>
            <input formControlName="dateNaissance" type="date" class="form-control" id="dateNaissance" name="dateNaissance" required>
          </div>
  
          <!-- City Field -->
          <div class="mb-3">
            <label for="ville" class="form-label">Ville</label>
            <input formControlName="ville" type="text" class="form-control" id="ville" name="ville" required>
          </div>
  
          <!-- Email Field -->
          <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input formControlName= "email" type="email" class="form-control" id="email" name="email"  required>
          </div>
  
          <!-- Telephone Field -->
          <div class="mb-3">
            <label for="telephone" class="form-label">Telephone</label>
            <input formControlName="telephone" type="tel" class="form-control" id="telephone" name="telephone"  required>
          </div>
          <div class="mb-3">
            <label for="motsCles" class="form-label">Mots cles</label>
            <input formControlName="motsCles" type="text" class="form-control" id="motsCles" name="motsCles"  required>
          </div>
          <!-- Submit Button -->
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </div>
  